@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9f7f7;
    --primary: #ffffff;
    --secoundary: #f6f8fb;
    --foreground: #313b5e;
    --hilights: #ffb495;
    --tertiary: #eae8e8;
  }
  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.dark {
  --background: #22282eff;
  --primary: #282f36ff;
  --secoundary: #2c343e;
  --foreground: #aab8c5;
  --hilights: #ffb495;
  --tertiary: #2c3238;
}
.light {
  --background: #f9f7f7;
  --primary: #ffffff;
  --secoundary: #f6f8fb;
  --foreground: #313b5e;
  --hilights: #ffb495;
  --tertiary: #eae8e8;
}
