@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9f7f7;
    --primary: #ffffff;
    --secondary: #eef2f7;
    --secondary2: #eef2f7;
    --foreground: #313b5e;
    --hilights: #ffe2d5;
    --tertiary: #eae8e8;
    --messagetext: #972b13;
    --textcolor: #9ca3a4;
  }

  html.dark {
    --background: #22282eff;
    --primary: #282f36ff;
    --secondary: #2c343e;
    --secondary2: #2f3943;
    --foreground: #aab8c5;
    --hilights: #5e3e34;
    --tertiary: #2c3238;
    --messagetext: #ff9c5e;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.bodycontainer{
  padding: 0 48px;
  width: 100%;
  
}
.smallbodycontainer{
  padding: 0 12px;
  
}